:root { /*Reusable variables, mainly for colors and fonts.*/

  /*Pallette 1: https://coolors.co/palette/b76e79-ffd1dc-800020-fff5e1-36454f*/
  /*Pallette 2: https://coolors.co/palette/fffafa-fff8dc-ffd1dc-f19cbb-cf71af*/
  --primary-font-color: #282a35; 
  --header-background: #ffbdcd;
  --primary-background: #ffbdcd;
  --hover-color: #E2A2B2;
  --header-font: "Bitter", serif;
  --header-size: 2.5rem;
  /*Fonts: Bitter light 300 for most, Bitter medium 500 for tital*/
}

html, body{
  height: 100%;

}

/*Code for universal body*/
/*----------------------------------------------------------------------------------------*/
body{
  color: var(--primary-font-color);
  font-family: var(--header-font);
  background-color: white;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
/*----------------------------------------------------------------------------------------*/


/*Code for universal header*/
/*----------------------------------------------------------------------------------------*/
header{
  position: fixed;
  top: 0;
  width: 100%;
}

.headbox{
  top: 0;
  background-color: var(--header-background);
  text-align: center;
  display: flex;
  height: var(--header-size);
  
}
.headbox .dropbutton{
  color: var(--primary-font-color);
  position: fixed;
  left: 3%;
  top: 1%;
}



#navdrop{

  padding: 0;
  list-style: none;
  background-color: var(--header-background);
  display: none;
  
}

#navdrop a{ /*Dropdown links*/

  text-decoration: none;
  color: var(--primary-font-color);
  display: block;
  text-align: left;
  padding-left: 5%;

  border-bottom-style: solid;
  border-width: 1px;

}
#navdrop a:hover{ /*Dropdown links*/

  background-color: var(--hover-color);

}

/*Spacing for hamburger menu items*/
#home{ /*Home dropdown link*/

  padding: 2% 0 2% 0;
}
#contact {
  padding: 2% 0 2% 0;
}
#gallery{
  padding: 2% 0 2% 0;
}



/*----------------------------------------------------------------------------------------*/


/*Code for main page*/
/*----------------------------------------------------------------------------------------*/
main{
  min-height: 100%;
  text-align: center;
  top: var(--header-size);
  width: 100%;
  margin-top: var(--header-size);
  padding: 0;
}

main h1{ /*Code for title above header*/

  padding-bottom: .5rem;
  font-style: italic;
  font-weight: 200;
  font: 1rem;

}
/*----------------------------------------------------------------------------------------*/

/*Code for calendar*/
/*----------------------------------------------------------------------------------------*/
/*Calendar Header (month, arrows)*/
#calendarHeader{
  margin-left: 25%;
  display: flex;
  justify-content: left;
}
#calendarHeader h2{
  margin: 0;
}
#calendarHeader img{
  margin-left: 5%;
}




/*Container for calendar*/
#calendarbox{
  margin: 0 auto;
  width: 90%;
  min-height: 15rem;
  border: 2px black solid;
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/*----------------------------------------------------------------------------------------*/




/*Code for universal footer*/
/*----------------------------------------------------------------------------------------*/
footer{
  text-align: center;
  background-color: var(--header-background);
}

/*Footer Icons*/
.footerlogos{
  padding-top: 3%;
}
.footerlogos img{
  width: 1.5rem;
}
#ig{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}



/*Page Links within footer*/
.footer_nav{
  padding: 0;
  margin: 0;
}
.footer_nav li{
  list-style: none;
  padding: 1% 0 1% 0;
}
.footer_nav a{
  text-decoration: none;
  color: var(--header-font-color);
}
/*----------------------------------------------------------------------------------------*/